@import url(https://fonts.googleapis.com/css?family=Montserrat:400,700);

#menu-0 .mbr-brand__name {
  font-size: 16px;
}
#menu-0.mbr-navbar--stuck .mbr-navbar__section {
  background: #000000;
}
#menu-0 .mbr-navbar__hamburger {
  color: #c1c1c1;
}
#menu-0 .mbr-brand__name a {
  font-family: 'Montserrat', sans-serif;
}
#header4-1 .btn {
  font-size: 14px;
}
#header4-1 H1 {
  font-size: 60px;
}
#social-buttons2-s .mbr-header__text {
  color: #9c9c9c;
}

#menu-0 .mbr-brand__name {
  font-size: 16px;
}
#menu-0.mbr-navbar--stuck .mbr-navbar__section {
  background: #000000;
}
#menu-0 .mbr-navbar__hamburger {
  color: #c1c1c1;
}
#menu-0 .mbr-brand__name a {
  font-family: 'Montserrat', sans-serif;
}
#msg-box2-0 .mbr-header .mbr-header__text {
  color: #252525;
}
#msg-box2-0 .mbr-article {
  color: #252525;
}

#menu-3 .mbr-brand__name {
  font-size: 16px;
}
#menu-3.mbr-navbar--stuck .mbr-navbar__section {
  background: #000000;
}
#menu-3 .mbr-navbar__hamburger {
  color: #c1c1c1;
}
#menu-3 .mbr-brand__name a {
  font-family: 'Montserrat', sans-serif;
}
#msg-box4-6 .mbr-header__text {
  color: #ffffff;
  font-size: 24px;
}
#msg-box4-6 .mbr-header__subtext {
  color: #ffffff;
}
#msg-box4-6 .mbr-article {
  color: #ffffff;
}
#msg-box4-7 .mbr-header__text {
  color: #ffffff;
}
#msg-box4-7 .mbr-header__subtext {
  color: #ffffff;
}
#msg-box4-7 .mbr-article {
  color: #ffffff;
}
#msg-box2-t .mbr-header .mbr-header__text {
  color: #252525;
}
#msg-box2-t .mbr-article {
  color: #252525;
}

#menu-8 .mbr-brand__name {
  font-size: 16px;
}
#menu-8.mbr-navbar--stuck .mbr-navbar__section {
  background: #000000;
}
#menu-8 .mbr-navbar__hamburger {
  color: #c1c1c1;
}
#menu-8 .mbr-brand__name a {
  font-family: 'Montserrat', sans-serif;
}
#slider-a P {
  font-size: 20px;
}
#slider-a H1 {
  font-size: 36px;
}
#msg-box4-h .mbr-header__text {
  color: #ffffff;
}
#msg-box4-h .mbr-header__subtext {
  color: #ffffff;
}
#msg-box4-h .mbr-article {
  color: #ffffff;
}
#content4-b .mbr-section__col .mbr-header__text {
  text-align: left;
}
#msg-box5-d .mbr-header__text {
  color: #ffffff;
}
#msg-box5-d .mbr-header__subtext {
  color: #ffffff;
}
#msg-box5-d .mbr-article {
  color: #ffffff;
}
#msg-box5-e .mbr-header__text {
  color: #ffffff;
}
#msg-box5-e .mbr-header__subtext {
  color: #ffffff;
}
#msg-box5-e .mbr-article {
  color: #ffffff;
}
#msg-box2-16 .mbr-header .mbr-header__text {
  color: #252525;
}
#msg-box2-16 .mbr-article {
  color: #252525;
}

#menu-i .mbr-brand__name {
  font-size: 16px;
}
#menu-i.mbr-navbar--stuck .mbr-navbar__section {
  background: #000000;
}
#menu-i .mbr-navbar__hamburger {
  color: #c1c1c1;
}
#menu-i .mbr-brand__name a {
  font-family: 'Montserrat', sans-serif;
}
#content5-l .mbr-header .mbr-header__text {
  text-align: center;
  color: #fff;
}
#content5-l .mbr-header .mbr-header__subtext {
  text-align: center;
  color: #fff;
}
#content5-l .mbr-article {
  color: #fff;
}
#msg-box2-15 .mbr-header .mbr-header__text {
  color: #252525;
}
#msg-box2-15 .mbr-article {
  color: #252525;
}

#menu-u .mbr-brand__name {
  font-size: 16px;
}
#menu-u.mbr-navbar--stuck .mbr-navbar__section {
  background: #000000;
}
#menu-u .mbr-navbar__hamburger {
  color: #c1c1c1;
}
#menu-u .mbr-brand__name a {
  font-family: 'Montserrat', sans-serif;
}
#slider-w P {
  font-size: 20px;
}
#slider-w H1 {
  font-size: 36px;
}
#msg-box4-y .mbr-header__text {
  color: #ffffff;
}
#msg-box4-y .mbr-header__subtext {
  color: #ffffff;
}
#msg-box4-y .mbr-article {
  color: #ffffff;
}
#content4-z .mbr-section__col .mbr-header__text {
  text-align: left;
}
#msg-box2-14 .mbr-header .mbr-header__text {
  color: #252525;
}
#msg-box2-14 .mbr-article {
  color: #252525;
}

#menu-0 .mbr-brand__name {
  font-size: 16px;
}
#menu-0.mbr-navbar--stuck .mbr-navbar__section {
  background: #000000;
}
#menu-0 .mbr-navbar__hamburger {
  color: #c1c1c1;
}
#menu-0 .mbr-brand__name a {
  font-family: 'Montserrat', sans-serif;
}
#msg-box4-2 .mbr-header__text {
  color: #ffffff;
}
#msg-box4-2 .mbr-header__subtext {
  color: #ffffff;
}
#msg-box4-2 .mbr-article {
  color: #ffffff;
}
#msg-box4-3 .mbr-header__text {
  color: #ffffff;
}
#msg-box4-3 .mbr-header__subtext {
  color: #ffffff;
}
#msg-box4-3 .mbr-article {
  color: #ffffff;
}
#msg-box2-6 .mbr-header .mbr-header__text {
  color: #252525;
}
#msg-box2-6 .mbr-article {
  color: #252525;
}

#menu-7 .mbr-brand__name {
  font-size: 16px;
}
#menu-7.mbr-navbar--stuck .mbr-navbar__section {
  background: #000000;
}
#menu-7 .mbr-navbar__hamburger {
  color: #c1c1c1;
}
#menu-7 .mbr-brand__name a {
  font-family: 'Montserrat', sans-serif;
}
#image1-9 P {
  font-size: 24px;
  text-align: left;
}
#msg-box2-a .mbr-header .mbr-header__text {
  color: #252525;
}
#msg-box2-a .mbr-article {
  color: #252525;
}

#menu-1 .mbr-brand__name {
  font-size: 16px;
}
#menu-1.mbr-navbar--stuck .mbr-navbar__section {
  background: #000000;
}
#menu-1 .mbr-navbar__hamburger {
  color: #c1c1c1;
}
#menu-1 .mbr-brand__name a {
  font-family: 'Montserrat', sans-serif;
}
